@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 95%;
    --foreground: 222.2 84% 4.9%;
    --card: 0 0% 97%;
    --card-foreground: 222.2 84% 4.9%;
    --popover: 0 0% 97%;
    --popover-foreground: 222.2 84% 4.9%;
    --primary: 217 91% 50%;
    --primary-100: 217 91% 15%;
    --primary-foreground: 210 40% 98%;
    --secondary: 210 40% 93%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --muted: 210 40% 93%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 210 40% 93%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 214.3 31.8% 88%;
    --input: 214.3 31.8% 88%;
    --ring: 221.2 83.2% 53.3%;
    --radius: 0.75rem;
  }

  .dark {
    --background: 222.2 84% 10%;
    --foreground: 210 40% 98%;
    --card: 222.2 84% 12%;
    --card-foreground: 210 40% 98%;
    --popover: 222.2 84% 12%;
    --popover-foreground: 210 40% 98%;
    --primary: 217 91% 65%;
    --primary-100: 217 91% 85%;
    --primary-foreground: 222.2 47.4% 11.2%;
    --secondary: 217.2 32.6% 15%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217.2 32.6% 15%;
    --muted-foreground: 215 20.2% 75%;
    --accent: 217.2 32.6% 15%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 217.2 32.6% 15%;
    --input: 217.2 32.6% 15%;
    --ring: 224.3 76.3% 60%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    overflow-x: hidden;
  }

  html {
    scroll-behavior: smooth;
  }

  ::-webkit-scrollbar {
    width: 10px;
  }

  ::-webkit-scrollbar-track {
    @apply bg-background;
  }

  ::-webkit-scrollbar-thumb {
    @apply bg-primary/20 rounded-full transition-colors hover:bg-primary/30;
  }
}

@layer utilities {
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
  
  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .clip-corner {
    clip-path: polygon(0 0, 100% 0, 100% 100%);
  }

  .bg-grid-small-white {
    background-size: 40px 40px;
    background-image: linear-gradient(to right, rgb(255 255 255 / 0.05) 1px, transparent 1px),
      linear-gradient(to bottom, rgb(255 255 255 / 0.05) 1px, transparent 1px);
  }
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-100% - 1.5rem));
  }
}

@keyframes scroll-reverse {
  0% {
    transform: translateX(calc(-100% - 1.5rem));
  }
  100% {
    transform: translateX(0);
  }
}

.animate-scroll {
  animation: scroll 30s linear infinite;
}

.animate-scroll-reverse {
  animation: scroll-reverse 30s linear infinite;
}

.animate-scroll:hover,
.animate-scroll-reverse:hover {
  animation-play-state: paused;
}

@layer utilities {
  .neon-separator {
    border: none;
    height: 2px; /* Hauteur de la barre, ajustez si nécessaire */
    background: hsl(var(--primary)); /* Utilisation d'une variable existante pour la couleur du néon */
    box-shadow: 0 0 10px hsl(var(--primary)), 0 0 20px hsl(var(--primary)), 0 0 30px hsl(var(--primary)), 0 0 40px hsl(var(--primary));
    margin: 1rem 0; /* Ajustez les marges si nécessaire */
  }
}
